USE [${viewInfo.getDbName()}]
go
IF EXISTS (
	SELECT
		1
	FROM
		[sys].[objects] o
		INNER JOIN [sys].[schemas] s ON
			s.[schema_id] = o.[schema_id]
			AND s.[name] = N'${viewInfo.getObjectSchema()}'
	WHERE
		o.[type] = N'${viewInfo.getObjectType()}'
		AND o.[name] = N'${viewInfo.getObjectName()}'
	)
BEGIN
	DROP VIEW [${viewInfo.getObjectSchema()}].[${viewInfo.getObjectName()}]
END
go
$viewInfo.getViewText()
go
##------------------------------------------------------------------------------
## permissions
##------------------------------------------------------------------------------
#set ( $permissionList = $viewInfo.getPermissionList() )
#if ( $permissionList.size() > 0 )
#foreach ( $permission in $permissionList )
#set ( $intProtectType = $permission.GetProtectType() )
#if ($intProtectType == 204)GRANT $permission.GetRight() ON [${viewInfo.getObjectSchema()}].[${viewInfo.getObjectName()}] TO [$permission.GetUser()] WITH GRANT OPTION#end
#if ($intProtectType == 205)GRANT $permission.GetRight() ON [${viewInfo.getObjectSchema()}].[${viewInfo.getObjectName()}] TO [$permission.GetUser()]#end
#if ($intProtectType == 206)REVOKE $permission.GetRight() ON [${viewInfo.getObjectSchema()}].[${viewInfo.getObjectName()}] TO [$permission.GetUser()]#end

go
#end
#end
